.mainCreateBox {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.subCreateBox {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    max-width: 600px;
    gap: 5px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: inherit;
    font-family: inherit;
    color: #757575;

}

.inputBox input:focus, .descriptionBox:focus {
    outline: none;
    caret-color: #757575;
    color: #757575;
}

.postSubmitBox {
    align-items: center;
    justify-items: center;
}

.postSubmitButton {
    display: flex;
    font-family: inherit;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.selectAtLeastLabel {
    color: red;
    font-size: 10px;
    padding-left: 20px;
}

.requiredBox {
    gap: 0;
    margin: 0;
    padding: 0;
}