.loginButton {
    display: flex;
    font-family: inherit;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

