.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    background: black;
    color: white;
    font-size: 15px;
    border: none;
}

.pfpButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.pfp {
    border-radius: 50%;
    object-fit: cover;
}