.results-list {
    position: absolute;
    top: 50;
    width: calc(100% - 15px); /* adjust for input borders if needed */
    
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
        
}

.resultOption {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: transparent;
    color: black;
    font-family: inherit;
    border: none;
    align-items: center;

}

.resultContainer:hover {
    background-color: #efefef;
}

.profileResultPfp {
    height: 40;
    width: 40;
    border-radius: 50%;
}