.mainBox {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.header {
    margin-bottom: 45px;
}

.subMainBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 35%;
    box-shadow: 6px 7px 8px 7px #ddd;
    border-radius: 10px;
}


.inputBox {
    align-self: center;
    width: 80%;
    padding: 7px;
    margin-bottom: 10px;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-family: inherit;
}

input:focus {
    outline: none;
    caret-color: #757575;
}

.loginAccount {
    text-align: center;
    color: white;
    width: 80%;
    padding: 7px;
    margin-bottom: 10px;
    background-color: #58894B;
    border: none;
    border-radius: 10px;
    font-family: inherit;
}

.loginAccount:hover {
    background-color: #4e7943;
}

.signUpText {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.signUpLink {
    margin-left: 5px;
    color:#58894B;
}

.signUpLink:hover {
    color: #4e7943;
    text-decoration: underline;
}

