.postGrid {
    display: flex;
    width: auto;
    margin: auto;
}

.postGridColumn{
    background-clip: padding-box;
    padding-left: 17px;
}

.gridWrapper {
  width: 100%;
  display: flex;
  justify-content: center; 
  overflow: hidden;
  margin: 0 auto;
}
