.postContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ddd;
    box-sizing: border-box;
    width: 95%;
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
}

.pfpIcon {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.imagesContainer { 
    border-right: 1px solid #e5e5e5;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.postImages {
    height: auto;
    width: 400px;
    border-radius: 10px;
}
.rhsPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 250px;
    padding-left: 10px;
}

.isLikedHeart {
    background-color: transparent;
}

.likeElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding-left: 10px;
    gap: 60%;
    align-items: center;
    font-size: small;
    cursor: pointer;
}

.likeSave {
    display: flex;
    align-items: center;
}

.arrowButton {
    cursor: pointer;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.arrowButton:hover {
    background-color: rgba(211, 211, 211, 0.5);
}