.postGrid {
    display: flex;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.postGridColumn{
    background-clip: padding-box;
    padding-left: 10px
}

.gridWrapper {
  width: 100%;
  display: flex;
  justify-content: center; 
  overflow: hidden;
}
