.postPreview {
    border-radius: 20px;
    overflow: hidden;
    width: 210px;
    transition: transform 250ms ease;
    margin-bottom: 17px;
    box-sizing: border-box;
}

.previewImage {
    width: 100%;
    height: auto;
    display: block;
}