.input {
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.inputImage {
    display: none;
}

.input::placeholder{
    color:gray;
    opacity: 70%;
}

.changeContainer {
    margin-top: 20px;
    margin-left: 10px;
    display: grid;
    justify-content: center;
}

.infoContainer {
    margin-top: 30px;
}

.pfp {
    border-radius: 50%;
    object-fit: cover;
}

.changeButton {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.saveButton {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    background-color: black;
    margin-top: 10px;
    cursor: pointer;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}